.idea/workspace.xml
**/.DS_Store
**/*.pyc
day1/deep-learning-face-detection/
day2/opencv-tutorial/
day3/document-scanner/
day4/optical-mark-recognition/
day5/ball-tracking/
day6/size-of-objects/
day8/images/
day12/kaggle_dogs_vs_cats/
day12/output/
day12/test_images/
day13/images/
day14/search-bing-api.zip
day14/search-bing-api/dataset/bulbasaur/
!day14/search-bing-api/dataset/bulbasaur.zip
day14/search-bing-api/dataset/charmander/
!day14/search-bing-api/dataset/charmander.zip
day14/search-bing-api/dataset/mewtwo/
!day14/search-bing-api/dataset/mewtwo.zip
day14/search-bing-api/dataset/pikachu/
!day14/search-bing-api/dataset/pikachu.zip
day14/search-bing-api/dataset/squirtle/
!day14/search-bing-api/dataset/squirtle.zip